doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/stylesheets/sui.css")
    link(rel="stylesheet", id='main-thema', href="/stylesheets/sui-default.css")
    script(src="/javascripts/platform.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/sui-locale.js")
    script(src="/javascripts/sui.js")
    script(src="/javascripts/sui-app.js")
    block load
  body
    block content